build/
bin/
.vscode/
.cache/
*.a
*.o
*.in
*.log
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
Makefile
lib/glad/aclocal.m4
lib/glad/ar-lib
lib/glad/compile
lib/glad/configure
lib/glad/depcomp
lib/glad/install-sh
lib/glad/missing
lib/stb/aclocal.m4
lib/stb/ar-lib
lib/stb/compile
lib/stb/configure
lib/stb/depcomp
lib/stb/install-sh
lib/stb/missing